@use '../modules/mixins' as m;
@use '../base/variables' as v;
/*Pagina producto especifico*/
.producto-especifico{
    width: 50%;

    .flechas{
        width: 8%;
    }
}
.producto-especifico .imagen {
    width: 100%;
}

.producto{
    display: flex;
    flex-direction: column;
    text-align: center;

    .producto__info{
        margin-top: 2rem;

        h2{
            font-weight: 600;
        }

        p{
            font-size: 18px;
            font-weight: 600;
        }
    }

    .precio{
        color: v.$Verde;
        font-weight: bold;
        font-size: 18px;
    }

    .producto-titulo{
        font-size: 22px;
        font-weight: bold;
    }

    .producto-img { 
        width: 50%;
    }
}

@include m.tablet {
    /*Pagina Producto especifico*/
    .producto{
        flex-direction: row;
        gap: 2rem;
        .carousel{
            flex: 1;
        }
        .carousel-inner{
            height: 100%;
            .carousel-item{
                height: 100%;
                img{
                    height: 100%;
                }
            }
        }
        .producto__info{
            margin: 0;
            flex: 1;
        }
        
    }
}

@include m.escritorioXL {
    .producto{
        .producto__info{
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2{
                font-weight: 700;
            }

            p{
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}