@use '../base/variables' as v;
@use '../base/mixins' as m;
/*Pagina Servicios*/
.main-servicios{
    background-color: v.$White;
}

/*background image*/
.servicios-principal{
    background-color: v.$Verde;
    padding: 2rem 3rem;
    text-align: center;
    color: v.$White;
}

@include m.tablet{
    /*Pagina Servicios*/
    .servicios-principal{
        background-image: url('../assets/images/fondo-servicios1.png');
        background-position: bottom;
        background-size: cover;
        min-height: 90vh;
        color: v.$Black;
    }
}

@include m.escritorioXL{
    /*Pagina Servicios*/
    .servicios-principal{
        padding: 0 200px;
    }
}