@use '../base/variables' as v;
@use '../base/mixins' as m;
.categorias-section{
    margin-top: 3rem;
    background-color: v.$White;
    padding: 20px 20px;

}

.categorias {
    margin: 5rem 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.categoria{
    text-align: center;
    background-color: v.$Gris-Oscuro;
    border-radius: 10px;
    padding: 25px;
    transition: v.$transition;
    
    .categoria__titulo{
        padding-top: 1rem;
        color: v.$White;
        font-weight: 700;
    }
}

.categoria:hover {
    transform: translateY(-10px);
    background-color: v.$Verde-oscuro;
}

@include m.tablet {
    .categorias {
        @include m.grid(2, 1fr);
    }
}

@include m.escritorio {
    .categorias {
        @include m.grid(3, 1fr);
    }
}

@include m.escritorioXL {
    .categorias {
        @include m.grid(5, 1fr);
    }  
}