@use '../base/variables' as v;
@use '../modules/mixins' as m;
/* Footer */
.footer {
    background-color: v.$Gris-claro;
    margin-top: 2rem;

    .footer__titulo{
        color: v.$Black;
        font-weight: 600;
        margin: 2rem 0;
        position: relative;
    }

    .footer__titulo::after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        width: 100px; /* o 100% si querés que ocupe todo el ancho */
        height: 1px;
        background-color: v.$Black;
    }
}

.contenido-footer{
    display: grid;
    @include m.grid(1,1fr);
}

@include m.tablet {
    .contenido-footer{
        @include m.grid(2, 1fr);
    }
}

@include m.escritorio {
    .contenido-footer{
        @include m.grid(4, 1fr);
    }  
}