@use '../base/variables' as v;
@use '../modules/mixins' as m;
/* Estilos Header */
.header{ 
    background-color: v.$Gris-claro;
}

.header-logo {
    width: 163px;
    height: 87px;
}

.header-logo a img{
    width: 100%;
}

.imagen-fondo {
    background-image: url('../assets/images/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Esto hace que la imagen cubra todo el contenedor */
    height: 80vh; /* Ocupa toda la altura de la pantalla */
    width: 100%;
    position: relative; /* Para posicionar el contenido encima */
    color: v.$White;
    font-weight: 700;
    opacity: .8;
    background-color: black;
    
}

@include m.tablet {
    .titulo-main {
        margin: 0 2rem;
    }
}

@include m.escritorio {
    .principal__info{
        margin: 0 5rem;
    }
}

@include m.escritorioXL {
    .principal-info{
        margin: 0 15rem;
    }
}