@use 'variables' as v;
@use '../modules/extends';
/*Botones*/
.button {
    @extend .btn-base;
    text-decoration: none;
    display: inline-block;
    padding: 9px 14px;
    background-color: v.$Gris-Oscuro;
    margin:  0 auto;
}

.button:hover{
    background-color: v.$Verde-oscuro;
}

.productos-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    padding-bottom: 30px;
}

.filtro-btn{
    @extend .btn-base;
    padding: 10px 25px;
    border: none;
    background-color: v.$Verde;
}

.filtro-btn:hover{
    background-color: v.$Verde-oscuro;
}

.moon {
    cursor: pointer;
}