/*Botones*/
.button {
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    padding: 9px 14px;
    color: $White;
    background-color: $Gris-Oscuro;
    font-weight: 700;
    margin:  0 auto;
}

.button:hover{
    background-color: $Verde-oscuro;
}

.productos-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    padding-bottom: 30px;
}

.filtro-btn{
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: $White;
    font-weight: 600;
    background-color: $Verde;
}

.filtro-btn:hover{
    background-color: $Verde-oscuro;
}

.moon {
    cursor: pointer;
}