
$White: #fff;
$Black: #000;
$Gris-claro: #D2D3CF;
$Gris-claroXl: #e7e7e6;
$Negro-Olive: #363F3B;
$Verde: #359350;
$Verde-oscuro: #075f20;
$Gris-Oscuro: #25362D;
$fuente: "Roboto", sans-serif;

$transition: all .3s ease
